@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@500&family=Sofia+Sans+Semi+Condensed&display=swap');
* {
    font-family: 'Sofia Sans Condensed', sans-serif !important;
    font-family: 'Sofia Sans Semi Condensed', sans-serif !important;
}

.MuiPopover-paper, .MuiPaper-root  {
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px !important;
}
.MuiContainer-root {
    
}

